body{
    margin: 0%;
}
h1{

    font-size: 50px;
}
.Taklu{

    color: rgb(21, 255, 0);
}
.Hatim{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding left: 2%;
}

.Hatim img{
    width: 100%;
}
.Top-Back{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 500px;
}
.Link-button{
text-decoration: none;
color: white;
background-color: yellowgreen;
border-radius: 5px;
font-weight: 700;
padding: 10px 20px;

}