body{
    margin: 0%;
}
h1{

    font-size: 50px;
}
.Taklu{

    color: rgb(21, 255, 0);
}
.Hatim{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding left: 2%;
}

.Hatim img{
    width: 100%;
}
.Top-Back{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 500px;
    padding-bottom: 150px;
}
.Link-button{
text-decoration: none;
color: white;
background-color: yellowgreen;
border-radius: 5px;
font-weight: 700;
padding: 10px 20px;

}
h2{
    font-size: 50px;
}
h4{

    font-size: 30px;
}
p{
    font-size: 20px;

}
.Dream-Area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;

}
.Bal{
    color: blueviolet;

}
.Na{
    box-shadow: 10px 10px 40px gray;  
    border-radius: 7px;
    height: 80%;
    background-color: white;
    padding-left: 2%;
    

}
.Ex-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: 1%;
}
#Ha{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#Ba{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{

    text-align: center;
    font size: 10px;
}